body{
  background-color: #FEFAE0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
  width: 100%;
}

nav{
  background-color: #CCD5AE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 16px;
  position: sticky;
  top: 0;
}

nav div{
  display: flex;
  flex-direction: row;
}

.navLink{
  color: black;
  text-decoration: none;
  margin-inline: 12px;
}

h1{
  text-align: center;
}

.form-label{
  display: block;
  margin-top: 16px;
}

.divider{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gender-radio input[type="radio"]{
  visibility: hidden;
  display: none;
}

.gender-radiogroup{
  height: 130px;
  margin-block: 16px;
  align-items: center;
}

.gender-radio{
  background-color: white;
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 16px;
  border: 2px solid black;
  border-radius: 8px;
}

.gender-radio.hoverselect{
  transition: border ease-in-out 0.15s;
  border: 4px solid #CCD5AE;
}

.gender-radio img{
  height: 80px;
}

input[type="number"]{
  font-size: xx-large;
  text-align: center;
  width: 100px;
}

.inputs{
  justify-content: space-around;
  width: 60%;
  margin-bottom: 16px;
}

button{
  font-size: x-large;
  text-align: center;
}

table{
  border: 1px solid gray;
  margin-left: auto;
  margin-right: auto;
}

th, td{
  border: 1px solid gray;
  padding: 4px;
  min-width: 160px;
}